<h1>Home</h1>
¿Que es listaslistas?<br>
¿gestionas un pub, club, local o discoteca?<br>
¿estas aburrido de gestionar tus listas de puerta de forma manual?<br>
¿quieres dejar de hacer "listas tontas" y empezar a hacer "listas listas"?<br>
¡escribenos! te ayudaremos a hacer listas como churros<br>
info@listaslistas.com

<br />

